@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 2em;
    color: black;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    padding: 0 20px;
}

#marker {
    position: absolute;
    top: 0;
    height: 50px;
    margin-top: -5px;
    background-color: blue;
    border-radius: 2px;
    transition: 0.5s;
}